{% extends "base.html" %}

{% block title %}Misión - Universitaria de Colombia{% endblock %}

{% block content %}
<div class="main-card">
    <h1 class="text-center">Nuestra Misión</h1>
    <p>En la Universitaria de Colombia, nuestra misión es formar profesionales íntegros, innovadores y competentes, capaces de responder a los desafíos globales y de contribuir activamente al desarrollo social, económico y cultural del país.</p>
    <p>Nos comprometemos a ofrecer una educación de alta calidad, basada en la investigación, la ética y el pensamiento crítico, promoviendo un ambiente de aprendizaje inclusivo y transformador para todos nuestros estudiantes.</p>
</div>
{% endblock %}